@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: purple;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  background-color: #efefef;
}

#root {
  background-color: rgb(255, 255, 255);
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
} 
.App {
  background-color:rgb(160, 221, 217); 
  width: 100%;
  max-width: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #333;
  box-shadow: 0px 0px 15px gray;
}
 
header{
  color:bisque;
  font-size: 39px;
  width:100%;
  background-color: rgb(89, 87, 116);
}

li {
  list-style: none;
}

a{
  text-decoration: none;
  color:black
}

.post{
  border: 2px solid rgb(89, 87, 116);;
  background-color: #efefef;
  margin: 7px;
  box-shadow: 0px 0px 15px gray;
  padding: 5px;
}