@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: rgb(9, 31, 73);
  font-size: 16px;
}

body {
  background-color: purple;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  background-color: #efefef;
}

#root {
  background-color: rgb(255, 255, 255);
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  background-color: rgb(176, 223, 219);
  width: 100%;
  max-width: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #333;
  box-shadow: 0px 0px 15px gray;
}

header {
  color: white;
  font-size: 39px;
  width: 100%;
  background-color: rgb(89, 87, 116);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black
}

.post {
  border-radius: 5px;
  border: 2px solid rgb(89, 87, 116);
  ;
  background-color: #efefef;
  margin: 7px;
  box-shadow: 0px 0px 15px gray;
  padding: 5px;
}

.nav {
  
  padding: 5px;
  width: 100%;
  background-color: #efefef;
  display: flex;
  justify-content: space-between;


}

.nav-link {

  gap: 6px;
  display: flex;


}

.search {

  width: 40%;
}

.nav-li :hover {
  flex-basis: 100%;
  color: white;
  background-color: rgb(89, 87, 116);
  ;
}


.add-post{
  
  display: flex;
  flex-direction: column;
  
}
label, input, textarea{
  display: block;
}

textarea{
  width: 400px;
  height: 190px;
}

.posts{
padding:5px;
 margin:5px;
 
 width: 99%;
 height: 80vh;
 overflow-y: auto;
 overflow-x: hidden;
 text-align:center;
}